In [42]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.formula.api import ols

In [43]:
df = pd.read_csv('/Users/brain/Documents/GitHub/LLMs-topic-classification/results/statistics/NeedlemanWunsch_score_formatted_for_ANOVA.csv')

In [44]:
df

   dataset     setting softness        system  measurement
0       d1  no-context   strict       ChatGPT     0.146541
1       d2  no-context   strict       ChatGPT     0.440476
2       d3  no-context   strict       ChatGPT     0.250000
3       d4  no-context   strict       ChatGPT     1.000000
4       d5  no-context   strict       ChatGPT     0.418182
..     ...         ...      ...           ...          ...
95      d6     context     soft  GoogleGemini     0.074074
96      d7     context     soft  GoogleGemini     0.250000
97      d8     context     soft  GoogleGemini     0.674074
98      d9     context     soft  GoogleGemini     0.889474
99     d10     context     soft  GoogleGemini     0.853922

[100 rows x 5 columns]

In [3]:
# Convert 'measurement' column to numeric
df['measurement'] = pd.to_numeric(df['measurement'])

In [15]:
### test ANOVA everything

In [17]:
# Fit the ANOVA model
model = ols('measurement ~ dataset + setting + softness + system', data=df).fit()

In [18]:
anova_table = sm.stats.anova_lm(model, typ=2)

In [19]:
anova_table

             sum_sq    df          F    PR(>F)
dataset    3.784309   9.0   2.195892  0.029861
setting    0.597158   1.0   3.118574  0.080953
softness   0.261063   1.0   1.363365  0.246182
system     4.918032   2.0  12.841870  0.000013
Residual  16.467647  86.0        NaN       NaN

In [20]:
0.029861 < 0.05 # dataset

True

In [21]:
0.000013 < 0.05 # system

True

In [ ]:
# Tukey's HSD test

In [27]:
# Perform Tukey's HSD test
tukey_results_system = pairwise_tukeyhsd(df['measurement'], df['dataset'])

In [28]:
print(tukey_results_system)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
    d1    d10   0.2729 0.9629  -0.439 0.9847  False
    d1     d2   0.3857 0.7592 -0.3262 1.0975  False
    d1     d3   0.2445  0.982 -0.4674 0.9563  False
    d1     d4   0.3728 0.7931 -0.3391 1.0847  False
    d1     d5  -0.1347 0.9998 -0.8465 0.5772  False
    d1     d6   0.3691 0.8024 -0.3428  1.081  False
    d1     d7   0.3986 0.7229 -0.3132 1.1105  False
    d1     d8   0.4818 0.4671   -0.23 1.1937  False
    d1     d9   0.0393    1.0 -0.6726 0.7511  False
   d10     d2   0.1128    1.0 -0.5991 0.8246  False
   d10     d3  -0.0284    1.0 -0.7403 0.6834  False
   d10     d4   0.0999    1.0  -0.612 0.8118  False
   d10     d5  -0.4076 0.6969 -1.1194 0.3043  False
   d10     d6   0.0962    1.0 -0.6157 0.8081  False
   d10     d7   0.1257 0.9999 -0.5861 0.8376  False
   d10     d8   0.2089 0.9941 -0.5029 0.9208  False
   d10     d9  -0.2336 0.9869 -0.9455 0.4783  False
    d2     d3  -0.1412 0.9997  -0.853 0.5707  False
    d2     d4  -0.0129    1.0 -0.7247  0.699  False
    d2     d5  -0.5203 0.3553 -1.2322 0.1915  False
    d2     d6  -0.0166    1.0 -0.7284 0.6953  False
    d2     d7    0.013    1.0 -0.6989 0.7248  False
    d2     d8   0.0962    1.0 -0.6157  0.808  False
    d2     d9  -0.3464 0.8548 -1.0582 0.3655  False
    d3     d4   0.1283 0.9999 -0.5835 0.8402  False
    d3     d5  -0.3791 0.7767  -1.091 0.3327  False
    d3     d6   0.1246 0.9999 -0.5872 0.8365  False
    d3     d7   0.1542 0.9994 -0.5577  0.866  False
    d3     d8   0.2374 0.9853 -0.4745 0.9492  False
    d3     d9  -0.2052 0.9948  -0.917 0.5067  False
    d4     d5  -0.5075 0.3912 -1.2193 0.2044  False
    d4     d6  -0.0037    1.0 -0.7156 0.7082  False
    d4     d7   0.0258    1.0  -0.686 0.7377  False
    d4     d8    0.109    1.0 -0.6028 0.8209  False
    d4     d9  -0.3335 0.8806 -1.0454 0.3783  False
    d5     d6   0.5038 0.4019 -0.2081 1.2156  False
    d5     d7   0.5333 0.3208 -0.1786 1.2452  False
    d5     d8   0.6165  0.149 -0.0954 1.3284  False
    d5     d9    0.174 0.9985 -0.5379 0.8858  False
    d6     d7   0.0295    1.0 -0.6823 0.7414  False
    d6     d8   0.1127    1.0 -0.5991 0.8246  False
    d6     d9  -0.3298 0.8875 -1.0417 0.3821  False
    d7     d8   0.0832    1.0 -0.6287 0.7951  False
    d7     d9  -0.3593 0.8259 -1.0712 0.3525  False
    d8     d9  -0.4425 0.5896 -1.1544 0.2693  False
---------------------------------------------------

In [46]:
# Perform Tukey's HSD test
tukey_results_system = pairwise_tukeyhsd(df_no_context['measurement'], df_no_context['system'])

In [47]:
print(tukey_results_system)

     Multiple Comparison of Means - Tukey HSD, FWER=0.05
==============================================================
  group1      group2    meandiff p-adj   lower   upper  reject
--------------------------------------------------------------
   ChatGPT   GoogleBard  -0.4844 0.0066 -0.8506 -0.1182   True
   ChatGPT GoogleGemini   0.2255 0.3072 -0.1407  0.5917  False
GoogleBard GoogleGemini   0.7098 0.0001  0.3436  1.0761   True
--------------------------------------------------------------

In [4]:
### test ANOVA for no-context only

In [5]:
df_no_context = df[df['setting'] == 'no-context']

In [6]:
# Fit the ANOVA model
model = ols('measurement ~ dataset + softness + system', data=df_no_context).fit()

In [7]:
anova_table = sm.stats.anova_lm(model, typ=2)

In [8]:
anova_table

            sum_sq    df          F        PR(>F)
dataset   7.420205   9.0   6.871350  3.085552e-06
softness  0.140795   1.0   1.173430  2.842236e-01
system    5.262186   2.0  21.928293  1.874666e-07
Residual  5.639352  47.0        NaN           NaN

In [12]:
3.085552e-06 < 0.05 # dataset

True

In [13]:
2.842236e-01 < 0.05 # softness

False

In [14]:
1.874666e-07 < 0.05 # system

True

In [22]:
# Tukey's HSD test

In [23]:
# Perform Tukey's HSD test
tukey_results_system = pairwise_tukeyhsd(df_no_context['measurement'], df_no_context['system'])

In [24]:
print(tukey_results_system)

     Multiple Comparison of Means - Tukey HSD, FWER=0.05
==============================================================
  group1      group2    meandiff p-adj   lower   upper  reject
--------------------------------------------------------------
   ChatGPT   GoogleBard  -0.4844 0.0066 -0.8506 -0.1182   True
   ChatGPT GoogleGemini   0.2255 0.3072 -0.1407  0.5917  False
GoogleBard GoogleGemini   0.7098 0.0001  0.3436  1.0761   True
--------------------------------------------------------------

In [25]:
# Perform Tukey's HSD test
tukey_results_softness = pairwise_tukeyhsd(df_no_context['measurement'], df_no_context['softness'])

In [26]:
print(tukey_results_softness)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
==================================================
group1 group2 meandiff p-adj  lower  upper  reject
--------------------------------------------------
  soft strict  -0.0969 0.507 -0.3874 0.1936  False
--------------------------------------------------

In [31]:
### test ANOVA for context only

In [32]:
df_context = df[df['setting'] == 'context']

In [33]:
# Fit the ANOVA model
model = ols('measurement ~ dataset + softness + system', data=df_context).fit()

In [34]:
anova_table = sm.stats.anova_lm(model, typ=2)

In [35]:
anova_table

            sum_sq    df         F    PR(>F)
dataset   1.942665   9.0  1.237235  0.313054
softness  0.121323   1.0  0.695408  0.411389
system    0.019562   1.0  0.112125  0.740233
Residual  4.884963  28.0       NaN       NaN

In [36]:
# Tukey's HSD test

In [37]:
# Perform Tukey's HSD test
tukey_results_system = pairwise_tukeyhsd(df_context['measurement'], df_context['system'])

In [38]:
print(tukey_results_system)

   Multiple Comparison of Means - Tukey HSD, FWER=0.05
=========================================================
 group1    group2    meandiff p-adj  lower  upper  reject
---------------------------------------------------------
ChatGPT GoogleGemini  -0.0442 0.7454 -0.318 0.2295  False
---------------------------------------------------------

In [39]:
# Perform Tukey's HSD test
tukey_results_system = pairwise_tukeyhsd(df_context['measurement'], df_context['softness'])

In [40]:
print(tukey_results_system)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
==================================================
group1 group2 meandiff p-adj  lower  upper  reject
--------------------------------------------------
  soft strict  -0.1101 0.417 -0.3819 0.1616  False
--------------------------------------------------